@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

}

.destaque-titulo {
    color: #22D4FD
}

.apresentacao__conteudo__destaque {
    color: #22D4FD;
}

.minhas__competencias{
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.apresentacao__lista {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}





.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.apresentacao__conteudo__titulo {
    font-size: 24px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__paragrafo {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  
}

.apresentacao__links__subtitulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__links {
    /* background-color: #f19100; */
    display: flex;
    justify-content: center;
    gap:16px;
    border: 2px solid #22d4fd;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    padding: 15px;

}

.apresentacao__links__links:hover {
    background-color: #272727
}





